@model PrismaCatalogo.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Categoria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaPai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaPai.Id)
        </dd>
        @if(Model.CategoriasFilhas != null && Model.CategoriasFilhas.Count() > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoriasFilhas):
            </dt>

            <div></div>

            <div class="col-sm-7">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nome)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CategoriasFilhas)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td class="text-end">
                                    <a class="cor-primaria" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-fill"></i></a> |
                                    <a class="cor-primaria" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i></a> |
                                    <a class="cor-primaria" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para listagem</a>
</div>
