@model PrismaCatalogo.Web.Models.ProdutoViewModel

<div class="card mb-3 product-card" style="max-width: 300px; height:150px">
    <div class="row g-0" style="height:100%">
        <div class="col-md-4 align-middle d-flex align-items-center" style="height:100%">
            <div class=" product-view2  rounded" >
                @if (Model.FotoCapa != null)
                {
                    <img class="mx-auto d-block" src="data:image/png;base64,@Html.DisplayFor(modelItem => Model.FotoCapa.FotoBytes)"></img>
                }
                else
                {
                    <div><i class="bi bi-file-image-fill"></i></div>
                }
            </div>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h4 class="text-truncate">
                    <a asp-controller="Produto" asp-action="Index" 
                       asp-route-produtoId="@Model.Id">@Model.Nome</a>
                </h4>
                @* <h5>@(Model.ProdutosFilhos != null && Model.ProdutosFilhos.Where(p => p.Preco != null).Select(p => p.Preco).Order().FirstOrDefault() != null ? "Preço: R$" + Model.ProdutosFilhos.Select(p => p.Preco).Order().FirstOrDefault() : "")</h5> *@
                <h5>@(Model.Preco != null ? "Preço: R$ " + Model.Preco : "Preço: --")</h5>
                <p>@Model.Descricao</p>
            </div>
        </div>
    </div>
</div>

@* 


<div class="col-sm-4 col-md-4 col-lg-4">
    <p>
        @if (Model.FotoCapa != null)
        {
            <div class="product-view rounded" style="background-image: url('data:image/png;base64,@Html.DisplayFor(modelItem => Model.FotoCapa.FotoBytes)')"></div>
        }
        else
        {
            <div class="product-view rounded"><i class="bi bi-file-image-fill"></i></div>
        }
    </p>
    <h3>Preço: @(Model.ProdutosFilhos != null ? Model.ProdutosFilhos.Select(p => p.Preco).Order().FirstOrDefault() : "")</h3>
    
    <h4>
        <a asp-controller="Lanche" asp-action="Details"
           asp-route-lancheId="@Model.Id">@Model.Nome</a>
    </h4>
    
     <p>@Model.Descricao</p>
</div> *@