@model List<AvaliacaoViewModel>

@foreach (var avaliacao in Model)
{
    <div class="alert alert-secondary" style="text-align: justify;">
        <strong>@avaliacao.NomeUsuario:</strong> @avaliacao.Mensagem
        <br><small>Nota: @avaliacao.Nota ⭐</small>
        @if (User.IsInRole("Funcionario"))
        {
            <div>
                <button class="btn btn-danger" onclick="deletaComentario(@avaliacao.Id, @avaliacao.ProdutoId)">Apagar</button>
            </div>
        }
    </div>
}

<script>
    @if (User.IsInRole("Funcionario"))
        {
            <text>
                function deletaComentario(id, idProduto){
                    $.ajax({
                        type: "POST",
                        url: '@Html.Raw(@Url.Action("Delete", "Avaliacao"))',
                        data: { id: id },
                        success: function (response) {
                            $.ajax({
                                type: "GET",
                                url: '@Html.Raw(@Url.Action("ObterAvaliacoes", "Avaliacao"))' + "?produtoId=" + idProduto,
                                success: function (data) {
                                    $("#lista-avaliacoes").html(data); // Atualiza a lista de avaliações
                                    $("#resposta").html("<div class='alert alert-success'>Avaliação deletada com sucesso!</div>");
                                }
                            });
                 
                        },
                        error: function (xhr, status, error) {
                            $("#resposta").html("<div class='alert alert-danger'>Erro ao enviar avaliação</div>");
                        }
                    });
                }
        </text>
    }
</script>