@model PrismaCatalogo.Web.Models.ProdutoDetalheViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="text-center">
    <form id="formTrocaProduto" asp-action="SelecionaFilho" method="post">
        <input type="hidden" name="produtoId" asp-for="Id"/> 

        <div  style="display: flex;">
            <div>
                <partial name="_Carousel" for="@Model.Fotos" />
            </div>
            <div style="width:100%; display: flex; flex-direction:column; align-items:center">
                <div>
                    <h1>@Model.Nome</h1>
                </div>
                <div>
                    <p class="fs-3">Descrição: @Model.Descricao</p>
                </div>
                <div>
                    <p class="fs-4">Observação: @Model.Observacao</p>
                </div>
                <div>
                    <p>Preço: @Model.Preço</p>
                </div>

                <div>
                    @foreach (var cor in ViewBag.ProdutoCores)
                    {
                        <input class="produto-cores" type="radio" class="btn-check" name="corId" id="cor_@(cor.Id)" value="@(cor.Id)" autocomplete="off" @(cor.Id == Model.CorId ? "checked" : "" )>
                        <label class="btn color-view rounded-circle" style="@(cor.FotoBytes != null ? "background-image: url('" + cor.FotoBytes + "'" : "background-color:" + cor.CodigoHexadecimal)" for="cor_@(cor.Id)"></label>
                    }
                </div>
                <div>
                    <label class="control-label"> Tamanho</label>
                    <select class="form-select" id="tamanhoSelect" name="tamanhoId" asp-items="ViewBag.ProdutoTamanhos">
                        <option selected></option>
                    </select>
                </div>

                <div>
                    <p>Estoque: @Model.Estoque</p>
                </div>
            </div>
        </div>
    </form>

    <div id="avaliacao-usuario" style="margin:15px 0"></div>

    <div id="lista-avaliacoes"></div>
    <a asp-controller="Home" asp-action="Index">Voltar para os produtos</a>
</div>



<script>
    $(document).ready(function () { 
        $("input[name='corId']").click(function () {
            $("select option").prop("selected", false);
            $("#formTrocaProduto").submit();
        });

        $("#tamanhoSelect").change(function () {
            $("#formTrocaProduto").submit();
        });

        $.ajax({
            type: "GET",
            url: '@Html.Raw(@Url.Action("ObterAvaliacoes", "Avaliacao", new { produtoId = Model.Id }))',
            success: function (data) {
                $("#lista-avaliacoes").html(data); // Atualiza a lista de avaliações
            }
        });


        @if (User.FindFirst("Id") != null)
        {
            <text>
                $.ajax({
                    type: "GET",
                        url: '@Html.Raw(@Url.Action("ObterAvaliacaoUsuario", "Avaliacao", new { produtoId = Model.Id, usuarioId = @User.FindFirst("Id")?.Value.Trim() }))',
                    success: function (resultado) {
                        $("#avaliacao-usuario").html(resultado);
                    }
                });
            </text>
        }
 
    });
</script>